pk-Composite PUBLIC-KEY includes private key

In 2.2 the ``PUBLIC-KEY`` structure is specified as:

```
pk-Composite PUBLIC-KEY ::= {
       IDENTIFIER id-alg-composite
       KEY CompositePublicKey
       PARAMS ARE absent
       CERT-KEY-USAGE
           { digitalSignature, nonRepudiation, keyCertSign, cRLSign }
       PRIVATE-KEY CompositePrivateKey
   }
```

It looks rather strange (to me) to include private key in public key. It would make sense to do it other way around (optionally include public key in private key structure)

Uhh, that's a good point.

@danvangeest I think you last re-worked the ASN.1 structures. Was that a goof to have the private key inside the public key?

> So should the PRIVATE-KEY be OPTIONAL?

That's what I would suggest looking at OneAsymmetricKey structure from RFC5958. Either optional or structure should be called KEYPAIR and both keys are always included. I would opt for optional.

> So should the PRIVATE-KEY be OPTIONAL?

Actually, no. PUBLIC-KEY should definitely not contain private key. This would be wrong

Hey folks.  I'm not an ASN.1 expert so bear with me as I try to explain my understanding.

We are not defining the `PUBLIC-KEY` structure, it's already defined in RFC 5912 as
```
PUBLIC-KEY ::= CLASS {
    &id             OBJECT IDENTIFIER UNIQUE,
    &KeyValue       OPTIONAL,
    &Params         OPTIONAL,
    &paramPresence  ParamOptions DEFAULT absent,
    &keyUsage       KeyUsage OPTIONAL,
    &PrivateKey     OPTIONAL
} WITH SYNTAX {
    IDENTIFIER &id
    [KEY &KeyValue]
    [PARAMS [TYPE &Params] ARE &paramPresence]
    [CERT-KEY-USAGE &keyUsage]
    [PRIVATE-KEY &PrivateKey]
}
```
It does optionally contain `PRIVATE-KEY`.  `PUBLIC-KEY` is not defining how to encode a public key, it's defining the properties of a public key (one of the valid properties of a public key being its associated private key).  Then, when the actual encoding of things are defined they can reference components of `PUBLIC-KEY` to indicate which values they're encoding (of in the case of the `&keyUsage` property, which values they're adding to existing sets).  Now, a lot of RFCs do not properly reference the properties of PUBLIC-KEY, possibly because they conform to the 1988 version of ASN.1, while RFC 5212 updates the common definitions to ASN.1 2002.

Often a PUBLIC-KEY definition (especially older ones) will not include the private key definition in the PUBLIC-KEY but will have a comment like this instead `-- Private key format not in this module --`, but there's no reason we shouldn't define the private key property here since its similarly encoded as the public key and signatures.

If you don't believe my understanding, I'll also add an appeal to authority :) RFC 8410 includes `PRIVATE-KEY` in the `PUBLIC-KEY` properties definition for Edwards curve algorithms:
```
    pk-Ed25519 PUBLIC-KEY ::= {
        IDENTIFIER id-Ed25519
        -- KEY no ASN.1 wrapping --
        PARAMS ARE absent
        CERT-KEY-USAGE {digitalSignature, nonRepudiation,
                        keyCertSign, cRLSign}
        PRIVATE-KEY CurvePrivateKey
    }
```

@danvangeest thanks. makes sense!