EDNOTE 11: redundant mention of PEM encoding rules

>## PEM Storage of Composite Private Keys
>CompositePrivateKeys can be encoded to the PEM format by placing a CompositePrivateKey into the privateKey field of a PrivateKeyInfo or OneAsymmetricKey object, and then applying the PEM encoding rules as defined in [RFC7468] section 10 and 11 for plaintext and encrypted private keys, respectively.
>EDNOTE 11: Do we really need this? Isn't it obvious?


I'm gonna remove the whole thing.